main.container {
  padding-top: 7rem;
  padding-bottom: 7rem;
   min-height: calc(100vh - 160px);
   margin-bottom: 80px;
   margin-top: 80px;
}

.uc-img {
width:500px;
}

.icon-bicolor {
    width: 50px;
    height: 50px;
}