/*reset css*/
reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilo para el header con imagen de fondo */

/* Overlay para mejorar el contraste */

/* Centrar el contenido del header */

/* Estilo para el logo de RaiRock */

/* Efecto hover con zoom para los íconos de la barra de navegación secundaria */

/* Estilos título h1 del Main */
.products-title {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

/* Estilo para la barra de navegación secundaria */
.icon-image {
    width: 48px;
    height: 48px;
}

/* Estilo para el carrusel */
.carrousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

/* Estilo para la imagen del carrusel */
.img-carrousel {
    width: 45vh;
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    margin: 0 auto;
}

/* Estilo para las flechas del carrusel */
.carrousel-control {
    width: 40px;
    border: none;
    background-color: transparent;
}

/* Estilo para los indicadores del carrusel */
    .carousel-indicators-custom {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 1rem;
    }

    .indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.3s; /* estará activo cuando se haga la lógica de los indicadores */
    }

    .indicator.active {
    background-color: #333;
    }

/* estilo para las Cards de Opiniones de Clientes */
.opinion-card {
    margin: 5%;
}
.opinion-card-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
}

/* Asegurar que el botón de iniciar sesión esté alineado correctamente */

/* Ajustes para pantallas pequeñas */

/* Estilo para el texto "RaiRock Music Store" */

/* Ajustar el tamaño del carrusel */
@media (max-width: 600px) {
    .img-carrousel {
        width: 35vw;
        max-width: 100%;
    }
    .carrousel-container {
        margin-top: 2rem;
    }
}

/* Hover redes sociales */